.orders-container{
    width:100%;
}

.orders-container h2{
    color:#ff6600;
    margin-bottom:25px;
    font-size:30px;
}

.order-box{
    background:#fff;
    border:1px solid #ececec;
    border-radius:12px;
    padding:25px;
    margin-bottom:25px;
    box-shadow:0 3px 12px rgba(0,0,0,.08);
}

.order-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    border-bottom:1px solid #eee;
    padding-bottom:15px;
}

.order-card{
    display:flex;
    gap:25px;
    align-items:center;
}

.order-card img{
    width:150px;
    height:150px;
    object-fit:contain;
    border:1px solid #eee;
    border-radius:10px;
}

.order-details{
    flex:1;
}

.order-details h3{
    margin-bottom:10px;
    color:#222;
}

.order-details p{
    margin:8px 0;
    color:#555;
}

.price{
    color:#ff6600;
    font-size:24px;
    font-weight:bold;
}

.order-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
}

.track-btn{
    background:#ff6600;
    color:#fff;
    border:none;
    padding:12px 24px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.track-btn:hover{
    background:#e65c00;
}

.empty-orders{
    text-align:center;
    padding:80px 20px;
}

.empty-orders h3{
    color:#555;
}

.empty-orders p{
    color:#888;
}

@media(max-width:768px){

.order-card{
    flex-direction:column;
    text-align:center;
}

.order-footer{
    flex-direction:column;
    gap:15px;
}

}